*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Short Stack';
  src: url('/fonts/ShortStack-Regular.woff2') format('woff2');
}

:root {
  --dark: #3e272e;
  --light: #f8f9f7;
  --primary: #c5465c;
  --font-primary: 'Short Stack', cursive;

  --base-unit: 0.32rem;
  --base-spacing: calc(var(--base-unit) * 4);
  --sm-spacing: calc(var(--base-spacing) * 2);
  --sm: 0.9rem;
  --md: 1.25rem;
  --lg: 1.8rem;
  --xl: 3.8rem;
}

select,
input,
button,
textarea {
  font: inherit;
}

body {
  font: 1rem / 1.5 var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.site-heading {
  font-size: var(--xl);
  line-height: 1;
}

.site-subheading {
  margin-top: var(--base-spacing);
  font-size: var(--md);
}

.stress-header {
  width: 100%;
  min-height: 8rem;
}

.stress-header-small {
  font-size: var(--sm);
}

.stress-header-description {
  font-size: var(--lg);
}

.stress-o-meter {
  max-width: 48rem;
  background-color: var(--light);
  color: var(--dark);
  padding: var(--sm-spacing);
  border-radius: var(--sm-spacing);
}

.stress-meter-button {
  padding: var(--base-spacing);
  border: none;
  background: none;
  color: var(--light);
  font-weight: 600;
  border-radius: var(--base-spacing);
  flex-grow: 1;
  flex-basis: 45%;
  outline-offset: var(--base-unit);
}

.stress-meter-button:hover {
  filter: contrast(1.5);
  cursor: pointer;
}

.stress-meter-button:focus {
  outline-color: var(--dark);
}

.stress-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--base-spacing);
  margin-top: var(--sm-spacing);
}

.stress-meter {
  flex-grow: 1;
  flex-basis: 100%;
  height: 2rem;
}

.stress-meter-container {
  margin-top: var(--base-spacing);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--base-spacing);
}

.fg-good {
  color: #709053;
}

.fg-warning {
  color: #ee7f1b;
}

.fg-danger {
  color: #f44336;
}

.bg-good {
  background-color: #709053;
}

.bg-warning {
  background-color: #ee7f1b;
}

.bg-danger {
  background-color: #f44336;
}
